* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #0A6CF1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.age-counter {
   width: 40%;
}

.titleHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: tahoma;
  background-color: rgb(5, 197, 5);
  border: 2px solid #ccc;
  margin-bottom: 40px;
  border-radius: 20px;
  padding: 15px;
}

.titleHeading h1 {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
}




.dateBox {
  background-color: #080808;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  transition: all ease 0.5s;
}

.dateBox:hover {
  box-shadow: 2px 2px 10px #212121;
}

#date {
  width: 300px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
}

#CalculateBtn {
  width: 130px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #fff;
  transition: all ease 0.3s;
}

#CalculateBtn:hover {
  background-color: #ccc;
}

#display {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  
}
.box {
  background-color: #080808;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#engName {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(179, 179, 179, 0.877);
  font-size: 14px;
  font-weight: bold;
  font-family: tahoma;
}

.numValue {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
}


@media (max-width: 1024px) {
  .age-counter {
    width: 50%;
 }
}

@media (max-width: 968px) {
  .age-counter {
    width: 60%;
 }
}


@media (max-width: 800px) {
  .age-counter {
    width: 70%;
 }
}

@media (max-width: 590px) {
  .age-counter {
    width: 90%;
 }
}

@media (max-width: 490px) {
 .dateBox {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
 }

 #date {
  width: 270px;
  padding: 10px;
 }

 #CalculateBtn {
  padding: 10px;
  width: 100px;
  font-size: 14px;
 }

}

@media (max-width: 400px) {
  .titleHeading h1 {
    font-size: 25px;
  }
}


